body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Helvetica Neue", serif;
    line-height: 1.5em;
}


nav{
    position: absolute;
    top: 40px;
    bottom: 0;
    right:10px;
}
ul {
    color:white;
    list-style: none;
    margin: 0;
    padding: 0;
}
.logo{
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
li{
    color:white;
    float:right;
    padding-left: 10px;

}
a{
    color:white;
}
header {
    position: fixed;
    background-color: black;
    width: 100%;
    height:100px ;
}

.monkeys{
    color: white;
    text-align: center;
    line-height: 50px;
}
.description{
    padding: 150px 50px 20px 50px;
    background-color:#E0E0E0;
}
.redhat{
    float:left;
    margin:0 20px 10px 0;
}
.description-p2{
    clear:both;
}
.blackhat{
    float:right;
    margin:0 50px 10px 20px;
}
.relationship{
    padding: 20px 50px;
}
footer{
    width:100%;
    height:50px;
    background-color: gray;
    text-align: center;
    line-height: 50px;
}
